* {
  box-sizing: border-box;
}

html, body {
  background: #2f3640;
  color: #dcdde1;
  font-family: 'courier new', monospace;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  line-height: 42px;
  margin: 0 0 2rem 0;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 1.5rem 0;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 1.5rem 0;
}

a {
  color: #dcdde1;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #e1b12c;
  color: #e1b12c;
}

.container {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 2rem;
}

.header {
  padding: 3rem 0;
}

.header a,
.header h3 {
  margin: 0 0 1rem 0;
}

.articles {
  margin: 0;
  padding: 0;
}

.articles li {
  border-bottom: 1px solid #718093;
  list-style: none;
  padding: 2rem 0;
}

.articles li:last-of-type {
  border-bottom: none;
}

.articles p {
  margin: 0 0 .5rem 0;
}

.articles a {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
}

article a {
  color: #e1b12c;
}

article p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 2rem;
}

article ul {
  margin: 0 0 2rem 0;
  padding: 0 0 0 2rem;
}

article li {
  font-size: 16px;
  line-height: 24px;
}

pre, code {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
}

article pre {
  background: #282c34;
  border-radius: .25rem;
  margin: 0 0 2rem 0;
  overflow-y: auto;
  padding: 0 1rem;
}

article code {
  white-space: pre;
}

article code.inline {
  background: #282c34;
  border-radius: .25rem;
  color: #c678dd;
  line-height: 20px;
  padding: .15rem .25rem;
}
