* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html, body {
  background: #f9f9f9;
  height: 100%;
  margin: 0;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.text {
  margin: 0 auto;
}

h1 {
  color: #333;
  font-size: 32px;
}

.lemon {
  display: block;
  font-size: 68px;
  text-align: center;
}

p, a {
  color: #666;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
