* {
  box-sizing: border-box;
}

html, body {
  background: #2f3640;
  color: #dcdde1;
  font-family: 'courier new', monospace;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  line-height: 42px;
  margin: 0 0 2rem 0;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 1.5rem 0;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 1.5rem 0;
}

a {
  color: #dcdde1;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #e1b12c;
  color: #e1b12c;
}

.wrapper {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 2rem;
}

.header {
  padding: 3rem 0;
}

.header a,
.header h2 {
  margin: 0 0 1rem 0;
}

.tags {
  font-size: 14px;
  margin-top: .5rem;
}

.tags span {
  background: #282c34;
  border-radius: .25rem;
  color: #c678dd;
  display: inline-block;
  margin-right: .5rem;
  padding: .25rem;
}

.articles {
  margin: 0;
  padding: 0;
}

.articles li {
  border-bottom: 1px solid #718093;
  list-style: none;
  padding: 2rem 0;
}

.articles li:last-of-type {
  border-bottom: none;
}

.articles p {
  margin: 0 0 .5rem 0;
}

.articles a {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
}

.post-header {
  margin: 0 0 3rem 0;
}

article h1 {
  margin-bottom: .5rem;
}

article h2 {
  margin: 3rem 0 1rem 0;
}

article a {
  color: #e1b12c;
}

article p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 2rem;
}

article ul {
  margin: 0 0 2rem 0;
  padding: 0 0 0 2rem;
}

article li {
  font-size: 16px;
  line-height: 24px;
}

article figure {
  margin: 0;
}

article figcaption {
  padding: .5rem 1rem;
  text-align: center;
}

article img {
  width: 100%;
}

article .tags {
  margin: 0 0 1rem 0;
}

article code {
  color: #c678dd;
}

article pre {
  background: #282c34;
  border-radius: .25rem;
  margin: 0 0 2rem 0;
  padding: 1rem;
}

article pre code {
  color: #dcdde1;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  line-height: 24px;
}
