{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "lemonJS API"
  },
  "servers": [
    {
      "url": "https://api.lemonjs.uk/v1"
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "summary": "Request a new authentication token",
        "description": "If the request is successful, an email will be sent containing a single use verification token. This token must then be verified using the `/auth/token/{token}/verify` endpoint below.",
        "operationId": "auth.token.request",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "description": "The email to send the token to",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "email"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Successful token request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenRequestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token/{token}/verify": {
      "put": {
        "summary": "Verify an authentication token",
        "description": "If the request is successul a JWT will be returned which will grant access to other API endpoints.",
        "operationId": "auth.token.verify",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "description": "The token to verify",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successful token verification",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenVerificationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me/about": {
      "get": {
        "summary": "A small bio overview",
        "operationId": "me.about",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Me"
        ],
        "responses": {
          "200": {
            "description": "The succesful about data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/me/experience": {
      "get": {
        "summary": "An overview of my work experience",
        "operationId": "me.experience",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Me"
        ],
        "responses": {
          "200": {
            "description": "The succesful experience data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperienceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenRequestResponse": {
        "type": "object",
        "required": [
          "message"
        ],
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "TokenVerificationResponse": {
        "type": "object",
        "description": "A JWT to grant access to certain API endpoints",
        "required": [
          "token"
        ],
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "AboutResponse": {
        "type": "object",
        "description": "Overview data about me",
        "properties": {
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "telephone": {
            "type": "string"
          }
        }
      },
      "ExperienceResponse": {
        "type": "array",
        "description": "A list of work experience data",
        "items": {
          "$ref": "#/components/schemas/Experience"
        }
      },
      "Experience": {
        "type": "object",
        "description": "A single work experience",
        "properties": {
          "position": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "date_from": {
            "type": "string",
            "format": "date"
          },
          "date_to": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "references": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "telephone": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}