.container {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.text {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.lemon {
  display: block;
  font-size: 4.25rem;
  text-align: center;
}

p, a {
  text-align: center;
}